---
import { Image } from 'astro:assets';
import type { Post } from 'src/schemas/post';
import type { ImageMetadata } from 'astro';

export interface Props {
    post: Post;
    storyTitle?: string;
    divClass?: string;
}

const { post, storyTitle, divClass } = Astro.props;

// console.log(post)
// console.log(post.url)
---

<div
    class={`flex relative godo-tracking ` + divClass}
    data-event-category="Article"
    data-event-action={storyTitle}
    data-event-label={`/blog/${post.slug}/`}
    data-event-non-interaction="true"
>
    <a
        href={`/blog/${post.slug}/`}
        class="prev-next-image-link relative w-4/12 flex-none border border-gray-100 bg-gray-200"
        aria-label={post.data.title}
        data-astro-prefetch="viewport"
    >
        {
            post.data.heroImage && (
                <Image
                    src={post.data.heroImage as ImageMetadata}
                    alt={post.data.title}
                    class="inset-image blur-up lazyloaded absolute rounded"
                    widths={[300, 600]}
                    sizes={`(max-width: 1000px) 400px, 600px`}
                    width="300"
                    height="200"
                />
            )
        }
    </a>

    <div class="prev-next-body flex-auto pl-6">
        <a href={`/blog/${post.slug}/`} data-astro-prefetch="viewport">
            <div class="mb-2 text-sm font-medium leading-none text-gray-500">
                {storyTitle}
            </div>
            <h2 class="prev-next-title text-title md:text-22 mb-2 text-xl">
                {post.data.title}
            </h2>
            <p class="prev-next-excerpt lineClamp-2 text-base leading-snug text-gray-500">
                {post.data.excerpt && post.data.excerpt.split(` `).splice(0, 25).join(` `)}
            </p>
        </a>
    </div>
    {/*{!-- <a href="{{url}}" aria-label="{{title}}" class="absolute inset-0 z-2"></a> --}*/}
</div>
