---
import DateTimeComponent from '../DateTimeComponent.astro';
import { relativeUrl } from '../../utils/relativeUrl';
import { Image } from 'astro:assets';
import type { Post } from 'src/schemas/post';
import type { ImageMetadata } from 'astro';
import { render } from 'astro:content';

export interface Props {
    post: Post;
}

const { post } = Astro.props;
const image = post.data.heroImage as ImageMetadata;
const { remarkPluginFrontmatter } = await render(post);
---

<div
    class={`storySmall overflow-hidden flex flex-col relative mb-8 w-full shadow `}
    data-event-category={`Article`}
    data-event-action={`Related Posts`}
    data-event-label={post.href}
    data-event-non-interaction="true"
>
    {
        image && (
            <a href={relativeUrl(post.href)} class="storySmall-img-link" data-astro-prefetch="hover">
                <Image
                    src={image}
                    alt={post.data.title}
                    class="storySmall-img blur-up lazyloaded h-40 w-full object-cover"
                    widths={[300, 600]}
                    sizes={`(max-width: 1000px) 400px, 600px`}
                    width="350"
                    height="192"
                />
            </a>
        )
    }

    <div class="storySmall-inner flex flex-grow flex-col justify-between p-4">
        <div class="storySmall-body">
            {
                post.data.heroImage ? (
                    <h2 class="text-22 lineClamp-2 text-title mb-2 leading-tight line-clamp-2 mb-2">
                        <a href={relativeUrl(post.href)} data-astro-prefetch="hover">
                            {post.data.title}
                        </a>
                    </h2>
                ) : (
                    <>
                        <h2 class="text-22 text-title leading-tight">
                            <a href={relativeUrl(post.href)} data-astro-prefetch="hover">
                                {post.data.title}
                            </a>
                        </h2>
                        <p class="mb-2 pt-4">
                            {remarkPluginFrontmatter.body &&
                                remarkPluginFrontmatter.body.split(` `).splice(0, 20).join(` `)}
                        </p>
                    </>
                )
            }
        </div>

        <DateTimeComponent post={post} />
    </div>

    <a
        href={relativeUrl(post.href)}
        class="z-3 absolute inset-0"
        aria-label={post.data.title}
        data-astro-prefetch="hover"></a>
</div>
