---
import Layout from '@layouts/Layout.astro';
import MetaData from '@components/meta/MetaData.astro';
import MediaCover from '@components/MediaCover.astro';
import { CONFIG } from '@config/config';
import type { ImageMetadata } from 'astro';
import { Content } from '@components/personal.md';
import * as greatPost from '@components/personal.md';
import SocialMediaWidget from '@components/SocialMediaWidget.astro';

const image = greatPost.frontmatter.heroImage as ImageMetadata;
---

<Layout isHome={true} footer={false} isPost={false} bodyClass="has-cover is-head-transparent overflow-hidden">
    <MetaData slot="head" location={Astro.url.pathname} />
    <article
        class="simply-hero-cover bg-dark relative flex min-h-screen items-center justify-center py-24"
        data-pagefind-body
    >
        {image && <MediaCover background={image} hasGradient={true} altTitle={greatPost.frontmatter.title} />}

        <div class="max-w-740 z-3 mx-auto p-24 px-4 text-center text-white">
            <h1 class="animated bounceIn mb-6 text-5xl tracking-wider md:text-6xl">
                {greatPost.frontmatter.title}
            </h1>
            <div class="md:text-32 text-3xl"><Content /></div>
        </div>
        {
            (
                <SocialMediaWidget
                    site={CONFIG}
                    divClass="absolute right-0 bottom-0 mr-8 mb-8 text-white z-2 flex-col hidden md:flex"
                />
            )
        }
    </article>
</Layout>
