---
import Navigation from './Navigation.astro';
import NavigationDropDown from './NavigationDropDown.astro';
import { Image } from 'astro:assets';
import astroIconDark from '@assets/astro-logo-dark.svg';
import astroIconLight from '@assets/astro-logo-light.svg';
import SideNav from './SideNav.astro';
import SearchWidget from './SearchWidget.astro';
import ThemeIcon from './ThemeIcon.astro';
import type { ConfigType } from '@schemas/config';
import type { ImageMetadata } from 'astro';

export interface Props {
    site: ConfigType;
    hasDropDown?: boolean;
}

const { site, hasDropDown } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif,svg}');

if (!images[site.logo])
    throw new Error(`"${site.logo}" does not exist in glob: "/src/assets/*.{jpeg,jpg,png,gif,svg}"`);
if (!images[site.logoDarkMode])
    throw new Error(`"${site.logoDarkMode}" does not exist in glob: "/src/assets/*.{jpeg,jpg,png,gif,svg}"`);
const Logo = await images[site.logo]();
const LogoDarkMode = await images[site.logoDarkMode]();
---

<>
    <header class="header js-header sticky top-0 z-20 flex h-16 w-full items-center text-sm">
        <div class="header-wrap max-w-extreme mx-auto flex w-full flex-auto items-center px-4">
            <div class="header-left mr-5 flex flex-none items-center">
                <a
                    href={Astro.site}
                    class="header-logo godo-tracking inline-block leading-none"
                    data-event-category="Header"
                    data-event-action="Logo"
                    data-event-label="Click"
                    data-event-non-interaction="true"
                    data-astro-prefetch
                >
                    {
                        Logo ? (
                            <Image
                                src={Logo.default}
                                class="header-logo-img logo-default max-h-8 translate-y-[3px]"
                                alt={site.title}
                                width="120"
                                height="36"
                                loading="eager"
                            />
                        ) : (
                            <Image
                                src={astroIconDark}
                                class="header-logo-img logo-default max-h-8 translate-y-[3px]"
                                alt={site.title}
                                width="120"
                                height="36"
                                loading="eager"
                            />
                        )
                    }
                    {
                        LogoDarkMode ? (
                            <Image
                                src={LogoDarkMode.default}
                                class="header-logo-img logo-dark-mode max-h-8 hidden translate-y-[3px]"
                                alt={site.title}
                                width="120"
                                height="36"
                                loading="eager"
                            />
                        ) : (
                            <Image
                                src={astroIconLight}
                                class="header-logo-img hidden logo-dark-mode max-h-8 translate-y-[3px]"
                                alt={site.title}
                                width="120"
                                height="36"
                                loading="eager"
                            />
                        )
                    }
                </a>
            </div>

            {
                site.navigation ? (
                    <nav class="header-center mainMenu relative flex flex-grow items-center overflow-auto pr-5 lg:overflow-visible">
                        <ul
                            itemscope=""
                            itemtype="http://www.schema.org/SiteNavigationElement"
                            class="nav whitespace-no-wrap hidden lg:flex"
                        >
                            <Navigation
                                site={site}
                                navClass="mainMenu-link godo-tracking hover:text-primary font-medium"
                            />
                            <NavigationDropDown site={site} hasDropDown={hasDropDown} />
                        </ul>
                    </nav>
                ) : null
            }
            <div class="header-right flex flex-none items-center justify-end">
                <!-- Light and Dark Mode -->
                <ThemeIcon />

                <!-- Toggle Search -->
                <SearchWidget />

                <!-- Toggle Menu -->
                <a
                    href="javascript:;"
                    role="button"
                    aria-label="Show Navigation Menu"
                    class="js-menu-toggle menu-burger button is-white relative lg:hidden"
                    ><span></span><span></span><span></span></a
                >
            </div>
        </div>
    </header>
    <SideNav site={site} />
</>
